.tab {
    display: flex;
}

.tab__left {
    width: 9.75rem;
    height: 3rem;
    border-radius: 1em 0 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-tertiary-shade);
    color: var(--color-secondary);
}

.tab__right {
    width: 9.75rem;
    height: 3rem;
    border-radius: 0 1em 1em 0;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: var(--color-tertiary-shade);
    color: var(--color-secondary);
}

.tab__right--toggled {
    color: white;
    background-color: var(--color-secondary);
}
