@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --font-family: "Signika", sans-serif;
  --color-primary: #91C788;
  --color-secondary: #FF8473;
  --color-secondary-shade: #FF9385;
  --color-tertiary-shade: #FFF8EE;
  --color-background: #E5E5E5;
  --color-primary-text: #262626;
  --color-secondary-text: #8c8c8c;
  --color-light-contrast: white;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--font-family);
  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: "Signika", sans-serif;
}
